body {
  color: #4a4a4a;
  background-color: #e3e4c2;
  font-family: "Calibri", Verdana, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Calibri", Verdana, sans-serif;
  color: #780000;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4, h5, h6 {
  font-size: 20px
}

ol .disc {
  counter-reset: section;
  list-style-type: disc;
}